# dependencies
node_modules/
frontend/node_modules/
backend/node_modules/

# environment files (VERY IMPORTANT)
.env
backend/.env
frontend/.env

# logs
logs
*.log
npm-debug.log*

# build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# uploads (optional - if you don’t want images in repo)
backend/uploads/